/**
 * @author Chris Kulbacki (http://chriskulbacki.com)
 * @copyright (c) 2015 Atlene.com
 * @license GPLv3 (http://www.gnu.org/licenses/gpl.html)
 * @package Atlene\Platform
 */

/* text */

~ body, 
~ input,
~ select,
~ label,
~ label.option,
~ .nav-tabs>li.active>a,
~ .nav-tabs>li.active>a:focus,
~ .nav-tabs>li.active>a:hover {
    color: #{$color['text'][0]};
}

~ .text-primary { color: #{$color['text'][1]}; }
~ .text-muted { color: #{$color['text'][2]}; }

/* navbar */

~ header.navbar,
~ .bg-primary {
    background-color: #{$color['navbar'][0]};
    color: #{$color['navbar'][3]};
}

~.gradient header.navbar {
    background-image: linear-gradient(to bottom, #{$color['navbar'][0]} 0%, #{$color['navbar'][1]} 100%);
}

~ .navbar-inverse .navbar-nav>.open>a,
~ .navbar-inverse .navbar-nav>.open>a:focus,
~ .navbar-inverse .navbar-nav>.open>a:hover,
~ .navbar-inverse .navbar-nav>li>a:focus,
~ .navbar-inverse .navbar-nav>li>a:hover,
~ .navbar-inverse .navbar-brand:focus,
~ .navbar-inverse .navbar-brand:hover {
    background-color: #{$color['navbar'][1]};
    color: #{$color['navbar'][4]};
}

~.gradient .navbar-inverse .navbar-nav>.open>a,
~.gradient .navbar-inverse .navbar-nav>.open>a:focus,
~.gradient .navbar-inverse .navbar-nav>.open>a:hover,
~.gradient .navbar-inverse .navbar-nav>li>a:focus,
~.gradient .navbar-inverse .navbar-nav>li>a:hover,
~.gradient .navbar-inverse .navbar-brand:focus,
~.gradient .navbar-inverse .navbar-brand:hover {
    background-image: linear-gradient(to bottom, #{$color['navbar'][0]} 0%, #{$color['navbar'][2]} 100%);
}

~ .navbar-inverse .navbar-brand,
~ .navbar-inverse .navbar-nav>li>a,
~ .table>thead>tr>th a {
    color: #{$color['navbar'][3]};
}

~ .navbar-inverse .navbar-brand:hover,
~ .navbar-inverse .navbar-nav>li>a:hover {
    color: #{$color['navbar'][4]};
}

/* sidebar / group-list / nav-tabs */

~ .sidebar.left .root > .wrap > .active,
~ .nav-tabs > li > a,
~ .nav-pills>li.active>a,
~ .pagination>.active>a, 
~ .pagination>.active>span {
    background-color: #{$color['sidebar'][0]};
    color: #{$color['sidebar'][3]};
}

~ .sidebar.left .root > .wrap:hover > .active,
~ .nav-tabs > li > a:hover,
~ .nav-pills>li.active>a:focus,
~ .nav-pills>li.active>a:hover,
~ .pagination>.active>a:focus,
~ .pagination>.active>a:hover,
~ .pagination>.active>span:focus,
~ .pagination>.active>span:hover {
    background-color: #{$color['sidebar'][1]};
    color: #{$color['btn-primary'][4]};
}

~.gradient .sidebar.left .root > .wrap > .active,
~.gradient .nav-tabs > li > a,
~.gradient .nav-pills>li.active>a,
~.gradient .pagination>.active>a, 
~.gradient .pagination>.active>span {
    background-image: linear-gradient(to bottom, #{$color['sidebar'][0]} 0%, #{$color['sidebar'][1]} 100%);
}

~.gradient .sidebar.left .root > .wrap:hover > .active
~.gradient .nav-tabs > li > a:hover,
~.gradient .nav-pills>li.active>a:focus,
~.gradient .nav-pills>li.active>a:hover,
~.gradient .pagination>.active>a:focus,
~.gradient .pagination>.active>a:hover,
~.gradient .pagination>.active>span:focus,
~.gradient .pagination>.active>span:hover {
    background-image: linear-gradient(to bottom, #{$color['sidebar'][0]} 0%, #{$color['sidebar'][2]} 100%);
}

/* table */

~ .table>thead > tr > th,
~ .panel-primary>.panel-heading {
    background-color: #{$color['table'][0]};
    color: #{$color['table'][3]};
}

~ .panel-primary {
    border-color: #{$color['table'][0]};
}

~.gradient .table>thead > tr > th,
~.gradient .panel-primary>.panel-heading {
    background-image: linear-gradient(to bottom, #{$color['table'][0]} 0%, #{$color['table'][1]} 100%);
}

/* buttons */

~ .btn-default { background-color: #{$color['btn-default'][0]}; color: #{$color['btn-default'][3]}; }
~ .btn-default:hover { background-color: #{$color['btn-default'][1]}; color: #{$color['btn-default'][4]}; }
~.gradient .btn-default { background-image: linear-gradient(to bottom, #{$color['btn-default'][0]} 0%, #{$color['btn-default'][1]} 100%); }
~.gradient .btn-default:hover { background-image: linear-gradient(to bottom, #{$color['btn-default'][0]} 0%, #{$color['btn-default'][2]} 100%); }

~ .btn-primary, 
~ .label-primary,
~ .progress-bar {
    background-color: #{$color['btn-primary'][0]}; color: #{$color['btn-primary'][3]};
}

~ .btn-primary:hover { background-color: #{$color['btn-primary'][1]}; color: #{$color['btn-primary'][4]}; }
~.gradient .btn-primary { background-image: linear-gradient(to bottom, #{$color['btn-primary'][0]} 0%, #{$color['btn-primary'][1]} 100%); }
~.gradient .btn-primary:hover { background-image: linear-gradient(to bottom, #{$color['btn-primary'][0]} 0%, #{$color['btn-primary'][2]} 100%); }

~ .btn-success,
~ .label-success,
~ .progress-bar-success {
    background-color: #{$color['btn-success'][0]}; color: #{$color['btn-success'][3]};
}

~ .btn-success:hover { background-color: #{$color['btn-success'][1]}; color: #{$color['btn-success'][4]}; }
~.gradient .btn-success { background-image: linear-gradient(to bottom, #{$color['btn-success'][0]} 0%, #{$color['btn-success'][1]} 100%); }
~.gradient.gradient .btn-success:hover { background-image: linear-gradient(to bottom, #{$color['btn-success'][0]} 0%, #{$color['btn-success'][2]} 100%); }

~ .btn-info,
~ .label-info,
~ .progress-bar-info {
    background-color: #{$color['btn-info'][0]}; color: #{$color['btn-info'][3]};
}

~ .btn-info:hover { background-color: #{$color['btn-info'][1]}; color: #{$color['btn-info'][4]}; }
~.gradient .btn-info { background-image: linear-gradient(to bottom, #{$color['btn-info'][0]} 0%, #{$color['btn-info'][1]} 100%); }
~.gradient .btn-info:hover { background-image: linear-gradient(to bottom, #{$color['btn-info'][0]} 0%, #{$color['btn-info'][2]} 100%); }

~ .btn-warning,
~ .label-warning,
~ .progress-bar-warning {
    background-color: #{$color['btn-warning'][0]}; color: #{$color['btn-warning'][3]};
}

~ .btn-warning:hover { background-color: #{$color['btn-warning'][1]}; color: #{$color['btn-warning'][4]}; }
~.gradient .btn-warning { background-image: linear-gradient(to bottom, #{$color['btn-warning'][0]} 0%, #{$color['btn-warning'][1]} 100%); }
~.gradient .btn-warning:hover { background-image: linear-gradient(to bottom, #{$color['btn-warning'][0]} 0%, #{$color['btn-warning'][2]} 100%); }

~ .btn-danger,
~ .label-danger,
~ .progress-bar-danger,
~ .nav-tabs > li > a.has-error {
    background-color: #{$color['btn-danger'][0]}; color: #{$color['btn-danger'][3]};
}

~ .btn-danger:hover,
~ .nav-tabs > li > a.has-error {
    background-color: #{$color['btn-danger'][1]}; color: #{$color['btn-danger'][4]};
}

~.gradient .btn-danger,
~.gradient .nav-tabs > li > a.has-error {
    background-image: linear-gradient(to bottom, #{$color['btn-danger'][0]} 0%, #{$color['btn-danger'][1]} 100%);
}

~.gradient .btn-danger:hover,
~.gradient .nav-tabs > li > a.has-error:hover {
    background-image: linear-gradient(to bottom, #{$color['btn-danger'][0]} 0%, #{$color['btn-danger'][2]} 100%); 
}

/* alerts / context text and bg */

~ .alert-success { border-color: #{$color['alert-success'][2]}; }

~ .alert-success,
~ .text-success,
~ .has-success .checkbox,
~ .has-success .checkbox-inline,
~ .has-success .control-label,
~ .has-success .help-block,
~ .has-success .radio,
~ .has-success .radio-inline,
~ .has-success .checkbox label,
~ .has-success .checkbox-inline label,
~ .has-success .radio label,
~ .has-success .radio-inline label
~ .has-success.checkbox label,
~ .has-success.checkbox-inline label,
~ .has-success.radio label,
~ .has-success.radio-inline label { 
    color: #{$color['alert-success'][3]}; 
}

~ .alert-success,
~ .bg-success,
~ .list-group-item-success,
~ .panel-success > .panel-heading {
    background-color: #{$color['alert-success'][0]};
}

~.gradient .alert-success,
~.gradient .bg-success,
~.gradient .list-group-item-success,
~.gradient .panel-success > .panel-heading {
    background-image: linear-gradient(to bottom, #{$color['alert-success'][0]} 0%, #{$color['alert-success'][1]} 100%);
}

~ .alert-info { border-color: #{$color['alert-info'][2]}; }

~ .alert-info,
~ .text-info {
    color: #{$color['alert-info'][3]};
}

~ .alert-info,
~ .bg-info,
~ .list-group-item-info,
~ .panel-info > .panel-heading {
    background-color: #{$color['alert-info'][0]};
}

~.gradient .alert-info,
~.gradient .bg-info,
~.gradient .list-group-item-info,
~.gradient .panel-info > .panel-heading {
    background-image: linear-gradient(to bottom, #{$color['alert-info'][0]} 0%, #{$color['alert-info'][1]} 100%);
}

~ .alert-warning { border-color: #{$color['alert-warning'][2]}; }

~ .alert-warning,
~ .text-warning,
~ .has-warning .checkbox,
~ .has-warning .checkbox-inline,
~ .has-warning .control-label,
~ .has-warning .help-block,
~ .has-warning .radio,
~ .has-warning .radio-inline,
~ .has-warning .checkbox label, 
~ .has-warning .checkbox-inline label,
~ .has-warning .radio label,
~ .has-warning .radio-inline label
~ .has-warning.checkbox label, 
~ .has-warning.checkbox-inline label,
~ .has-warning.radio label,
~ .has-warning.radio-inline label {
    color: #{$color['alert-warning'][3]};
}

~ .alert-warning,
~ .bg-warning
~ .list-group-item-warning,
~ .panel-warning > .panel-heading {
    background-color: #{$color['alert-warning'][0]};
}
   
~.gradient .alert-warning,
~.gradient .bg-warning,
~.gradient .list-group-item-warning,
~.gradient .panel-warning > .panel-heading {
    background-image: linear-gradient(to bottom, #{$color['alert-warning'][0]} 0%, #{$color['alert-warning'][1]} 100%);
}

~ .alert-danger { border-color: #{$color['alert-danger'][2]}; }

~ .alert-danger, 
~ .text-danger,
~ .has-error .checkbox,
~ .has-error .checkbox-inline, 
~ .has-error .control-label, 
~ .has-error .help-block, 
~ .has-error .radio, 
~ .has-error .radio-inline, 
~ .has-error .checkbox label, 
~ .has-error .checkbox-inline label, 
~ .has-error .radio label, 
~ .has-error .radio-inline label
~ .has-error.checkbox label, 
~ .has-error.checkbox-inline label, 
~ .has-error.radio label, 
~ .has-error.radio-inline label { 
    color: #{$color['alert-danger'][3]};
}

~ .alert-danger,
~ .bg-danger,
~ .list-group-item-danger,
~ .panel-danger > .panel-heading {
    background-color: #{$color['alert-danger'][0]};
}

~.gradient .alert-danger,
~.gradient .bg-danger,
~.gradient .list-group-item-danger,
~.gradient .panel-danger > .panel-heading {
    background-image: linear-gradient(to bottom, #{$color['alert-danger'][0]} 0%, #{$color['alert-danger'][1]} 100%);
}
