/* bootstrap adjustments */

html {
    height: 100%; /* fix the Firefox background image centring problem */
    margin: 0;
    padding: 0;
} 

body {
    margin: 0;
    padding: 0;
    text-rendering: optimizelegibility;
}

body, 
input,
select,
label,
label.option,
button {
    font-family: 'Segoe UI', sans-serif; 
    font-size: 13px; 
}

body #container .btn.disabled,
body #container .btn:disabled,
body #container .btn[disabled] {
  background: #ccc;
  background-image: none;
  color: #666;
}

.table>thead>tr>th {
    border-bottom: none;
    font-weight: normal;
}

.table>tbody>tr>td,
.table>tfoot>tr>td,
.table>thead>tr>td {
    border-top: none;
    border-bottom: 1px solid #ddd;
}

label {
    font-weight: normal;
}

.nav-tabs {
    border-bottom-color: #b9b9b9;
}

.nav-tabs > li > a {
    padding: 6px 15px;
    height: 28px;
    margin-top: 4px;
}

.nav-tabs > li > a:hover {
    border-color: transparent;
}

#container .nav-tabs>li.active>a, 
#container .nav-tabs>li.active>a:focus,
#container .nav-tabs>li.active>a:hover {
    background: transparent;
    height: 34px; 
    border: 1px solid #b9b9b9;
    border-bottom: 1px solid #FEFEFE;
    margin-top: 0;
    color: #333;
}

.img-thumbnail,
code,
pre,
.alert,
.form-control,
.btn,
.input-group-addon,
.nav-tabs.nav-justified > li > a,
.nav-pills > li > a,
.navbar-toggle,
.breadcrumb,
.pagination,
.thumbnail,
.progress,
.panel,
.panel-group .panel,
.well,
.tooltip-inner,
.img-thumbnail,
.pager li>a,
.pager li>span {
    border-radius: 2px;
}

/* fix button sizes, we don't have borders, so we need to increase padding */


.form-control,
.btn {
    font-size: 13px;
}

.btn {
    border: none;
}

.btn.btn-file {
    padding: 8px 14px;
}

.btn.btn-default.fileinput-upload-button,
.btn.btn-default.fileinput-cancel-button,
.btn.btn-default.fileinput-remove-button {
    
}

.btn.btn-default {
    border: 1px solid #ccc;
}

.btn {
    padding: 7px 13px;
}

.btn-xs {
    padding: 1px 5px;
    font-size: 12px;    
}

.btn-sm {
    padding: 5px 10px;
    font-size: 12px;    
}

.btn-lg {
    padding: 10px 16px;
}

.btn.btn-default.btn-xs {
    padding: 0 4px;
}

.btn.btn-default.btn-sm {
    padding: 4px 9px;
}

.btn.btn-default.btn-lg {
    padding: 9px 15px;
}

.navbar-inverse {
    border: none;
}

.list-group-item.active {
    border-top: none;
}

/* file upload input */

.file-caption-name span {
    display: none;
}

/* layout */

#container {
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    bottom: 0;
    padding: 0;
}

.navbar .sidebar-left-toggle .navbar-brand {
    width: 47px;
}

/* avatar */

header .dropdown.user > a {
    padding-left: 50px !important;
}

header .dropdown.user > a img {
    position: absolute;
    top: 20%;
    left: 8px;
    height: 60%;
    border-radius: 3px;
}

/* color selection */

.color-select {
    left: auto;
    right: 0;
    width: 166px;
}

.backend-color-settings {
    padding: 5px 10px;
}

.backend-color-settings .color {
    display: block;
    float: left;
    border: 1px solid transparent;
    padding: 2px;
}

.backend-color-settings .color.active {
    border: 1px solid #aaa;
}

.backend-color-settings .color span {
    display: block;
    height: 30px;
    width: 30px;
}

.backend-gradient-settings {
    clear: both;
    margin-top: 5px;
    padding: 10px 10px 5px 10px;    
    border-top: 1px solid #ddd;
}

/* sidebar */

.sidebar {
    position: absolute !important;
    top: 0 !important;
    bottom: 0 !important;
    width: 270px;
    overflow-y: auto;
    z-index: 1;
    margin: 0 !important;
    border-bottom: 0 !important;
    border-top: 0 !important;
    border-radius: 0 !important;    
}

.sidebar.right {
    right: 0;
}

.sidebar.left {
    left: 0;
    border-left: none !important;    
}

.sidebar.left .list-group {
    margin: 0;
    border: 0;
}

.sidebar.left .list-group.sub {
    display: none;
}

.sidebar.left .list-group.sub.open {
    display: block;
}

.sidebar.left .list-group-item {
    position: relative;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;    
    border-radius: 0;    
    padding-left: 15px !important;
}

.sidebar.left .root > a.dropdown:after {
    position: absolute;
    right: 10px;
    top: 10px;
    font-family: 'FontAwesome';
    content: "\f105";    
}

.sidebar.left .root > a.dropdown.open:after {
    content: "\f107";
}

.sidebar.left .root > a.dropdown.active:after {
    content: "";
}

.sidebar.left a i {
    display: inline-block;
    width: 18px;    
    font-size: 18px;
    margin-right: 10px;
}

.sidebar.left .sub .list-group-item {
    padding-left: 48px !important;
}

.sidebar.left .sub .list-group-item.open {
    font-weight: bold;
}

.sidebar.left .sub .list-group-item:last-child {
    border-bottom: none;
}

.sidebar.left .root-item.active:before {
    position: absolute;
    right: 3px;
    top: 50%;
    margin-top: -10px;
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
    border-right: 10px solid #fff;  
    content: "";
}

/* sidebar left minimized */

.sidebar-left-minimized .sidebar.left {
    width: 48px;
    overflow-x: visible;
    overflow-y: visible; /* need to set this otherwise overflow-x will automatically be set to auto */
    z-index: 999;
}

.sidebar-left-minimized .sidebar.left .root-item.active:before,
.sidebar-left-minimized .sidebar.left .root a.dropdown:after,
.sidebar-left-minimized .sidebar.left .root > .wrap > a > span,
.sidebar-left-minimized .sidebar.left .root > .wrap > .sub {
    display: none !important;
}

.sidebar-left-minimized .sidebar.left a i {
    padding-right: 30px;
}

.sidebar-left-minimized .sidebar.left .sub .list-group-item {
    padding-left: 60px;
}

.sidebar-left-minimized .sidebar.left .root > .wrap:hover {
    width: 270px;
    -webkit-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.4);
    box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.4);
}

.sidebar-left-minimized .sidebar.left .root > .wrap:hover > a > span {
    display: inline !important;
} 

.sidebar-left-minimized .sidebar.left .root > .wrap:hover > .sub {
    display: block !important;
    position: absolute;
    left: 46px;
    width: 224px;
    z-index: 999;
    -webkit-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.4);
    box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.4);  
}

/* sidebar search */

#sidebar-search .list-group-item {
    padding: 0 !important;
}

#sidebar-search input {
    width: 100%;
    padding: 10px 10px 10px 48px;
    background: transparent;
    border: 0;
    outline: none;    
}

#sidebar-search i {
    display: block;
    position: absolute;
    top: 12px;
    left: 15px;
    font-size: 18px;
    width: 18px;
}

.sidebar-left-minimized #sidebar-search {
    display: none;
}

#sidebar-results {
    margin: 0;
}

#sidebar-empty {
    display: none;
    padding: 10px;
    text-align: center;
}

/* content */

#content {
    position: absolute;
    left: 270px;
    right: 270px;
    top: 0;
    bottom: 0;
    padding: 10px 20px 30px 20px;
    overflow-y: auto;
}

.sidebar-left-minimized #content {
    left: 48px;
}

.sidebar-right-minimized #content {
    right: 0;
}

.full-width #content {
    left: 0;
}

#content #page-title {
    padding: 10px 0 20px 0;
    margin: 0;
}

/* breadcrumbs */

#breadcrumbs {
    margin-bottom: 10px;
    background-color: transparent;
    padding: 0;
}

/* notifications */

#notifications {
    position: fixed;
    top: 5px;
    right: 5px;
    width: 100%;
    max-width: 400px;
    z-index: 99999;
}

#notifications .alert {
    position: relative;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.6);
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.6);
}

/* crud */

.crud .top-buttons {
    position: absolute;
    top: 50px;
    right: 20px;
}

.crud .bottom-buttons {
    text-align: right;
    margin-top: 30px;
}


.crud-index table.table td {
    vertical-align: middle;
}

.crud-index table .actions {
    width: 1%;
    text-align: right;
    white-space: nowrap;
}

.crud-index .pagination {
    margin-top: 0;
}

.crud-edit .tab-content {
    margin-top: 20px;
}

.crud-checkbox-list {
    padding: 0 20px;
}

.crud-checkbox-list:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
}

.crud-checkbox-list div {
    width: 200px;
    float: left;
}

.crud-filter {
    margin-bottom: 10px;
}

.crud-filter.form-inline input {
    width: 120px;
}

/* forms */

.form-group .error {
    display: none;
}

.form-group.has-error .error,
.form-group .error.visible {
    display: block;
    padding-top: 5px;
}

.form-group .input-checkbox input {
    margin-top: 10px;
}

.form-group .block-label {
    text-align: left;
    padding-bottom: 5px;
}

.form-horizontal .control-label {
    text-align: left;
}

/* dialogs */

#dialog-mask {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #000;
    z-index: 100;
    opacity: .30;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity = 30);
}

.dialog {
    display: none;
    position: fixed;
    top: 150px;
    left: 50%;
    width: 500px;
    margin-left: -250px;
    background: #FCFCFC;
    border-radius: 3px;
    box-shadow: 1px 1px 12px #4F4F4F;
    z-index: 9999;
    min-height: 400px;
}

.dialog.full-screen {
    top: 60px;
    bottom: 20px;
    left: 20px;
    right: 20px;
    width: auto;
    margin: 0;
}

.dialog .dialog-title {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px;
    font-weight: bold;
    font-size: 13px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    max-height: 38px;
    cursor: move;
}

.dialog .dialog-title a {
    display: block;
    float: right;
    text-decoration: none;
    color: #fff;
    padding: 0 0 0 10px;
}

.dialog .dialog-content {
    position: absolute;
    top: 38px;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px 15px 20px 15px;
    overflow-x: hidden;
    overflow-y: auto;
}

.dialog .dialog-buttons {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px 15px 0 0;
    height: 55px;
    border-top: 1px solid #aaa;
    text-align: right;
}

.dialog .dialog-buttons a,
.dialog .dialog-buttons button {
    min-width: 75px;
}

.dialog .dialog-buttons.windows a,
.dialog .dialog-buttons.windows button {
    float:right;
    margin-left: 5px;
}

.dialog .dialog-progress {
    text-align: center;
    margin: 30px 0;
}

.dialog .dialog-progress i:before {
    font-size: 2em;
}

/* login */

#auth-page {
    background: #d3d7cf;
}

#auth-page .panel {
    width: 400px;
    margin: 150px auto 0 auto;
}

#auth-page .panel-body {
    padding: 30px 20px;
}

#auth-page .panel .buttons button,
#auth-page .panel .buttons a {
    display: block;
    width: 100%;
    margin: 10px 0;
}

.logout-message {
    padding-bottom: 10px;
}

/* users / permissions */

.crud-index .user-status i {
    font-size: 1.2em;
    padding-top: 3px; 
}

.crud-index .user-status i.disabled {
    color: #ddd;
}

.table.permissions-table .input {
    width: 1%;
}

.table.permissions-table .input div {
    min-width: 110px;
    margin: 2px 0 5px 15px;
}

.permissions-all-actions {
    margin-bottom: 10px;
    text-align: right;
}

.dt-format-sample {
    margin: 7px 10px 0 0;
    float: left;
}

/* error page */

#error-page {
    width: 650px;
    margin: 30px auto 0 auto;
    text-align: center;
}

#error-page .error-message {
    padding: 20px 0 0 0;
    margin: 0;
    font-size: 1.4em;
}

/* button spinner */

.btn.submit.active {
    position: relative;
    color: transparent;
}

.btn.submit.active:before { 
    position: absolute;
    display: block;
    left: 50%;
    margin: 2px 0 0 -6px;
    color: #fff;
    content: "\f110";
    margin-right: 10px;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;    
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear;
}

.btn-default.submit.active:before { 
    color: #333;
}

/* db queries */

.btn.db-queries {
    position: fixed;
    bottom: 3px;
    right: 3px;
    font-size: 0.8em;
}


/* checkbox */

.checkbox {
    float: none;
}

.checkbox input[type="checkbox"],
input[type="checkbox"] {
    position: static;
    margin: 0 10px 0 0;
}

input[type="checkbox"]:before {
    position: relative;
    display: block;
    width: 18px;
    height: 18px;
    border: 1px solid #aaa;
    border-radius: 2px;
    content: "";
    background: #FFF;
}

input[type="checkbox"]:checked:after {
    position: relative;
    top: -16px;
    left: 2px;
    display: block;
    width: 16px;
    height: 16px;    
    font-family: "FontAwesome";
    font-size: 14px;
    content: "\f00c";
    color: #333;
}

input[type="checkbox"]:not(:disabled):checked:hover:after {
    color: #000;
}

input[type="checkbox"]:not(:disabled):checked:hover:before {
    border-color: #333;
}

.checkbox label {
    padding-left: 15px;
}